*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: black;
    color: white;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 4rem;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: 800;
}
.logo:hover{
    transform: scaleX(1.1);
}